{% extends "layout.html" %}
{% block content %}

    <div class="article-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-botom mb-4">{{ legend }}</legend>
                <article class="media content-section">
                    <div class="media-body">
                        {% if area == 'Lab' %}
                            <h2 class="article-title"><a href="{{ url_for('materias.lab_materia', materia_id=materia.id) }}">{{ materia.nombre }}</a></h2>
                        {% elif area == 'Bod' %}
                            <h2 class="article-title"><a href="{{ url_for('materias.bod_materia', materia_id=materia.id) }}">{{ materia.nombre }}</a></h2>
                        {% endif %}
                        <p class="article-content">Codigo:   {{ materia.codigo }}</p>
                        <p class="article-content">Cantidad Actual:    {{ materia.cantidad }} {{ materia.medida.value }}</p>
                    </div>
                </article>                
                <div class="form-group">
                    {{ form.cantidad.label(class="form-control-label") }}

                    {% if form.cantidad.errors %}
                        {{ form.cantidad(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cantidad.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cantidad(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.observacion.label(class="form-control-label") }}

                    {% if form.observacion.errors %}
                        {{ form.observacion(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.observacion.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.observacion(class="form-control form-control-lg") }}
                    {% endif %}
                    
                </div>             
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}