{% extends "layout.html" %}

{% block content %}
    <div>
    {% if area == 'Lab' %}
        {% if user.area == 'Lab' %}
        <a href="{{ url_for('reactivos.lab_new_reactivo') }}">
            <button class="btn btn-outline-success mt-3 mb-3">
                Nuevo reactivo
            </button>
        </a>
        {% endif %}
        <a href="{{ url_for('reactivos.lab_historial_reactivos') }}">
            <button class="btn btn-outline-info mt-3 mb-3">
                Historial
            </button>
        </a>
    {% elif area == 'Bod' %}
        {% if user.area == 'Bod' %}
        <a href="{{ url_for('reactivos.bod_new_reactivo') }}">
            <button class="btn btn-outline-success mt-3 mb-3">
                Nuevo reactivo
            </button>
        </a>
        {% endif %}
        <a href="{{ url_for('reactivos.bod_historial_reactivos') }}">
            <button class="btn btn-outline-info mt-3 mb-3">
                Historial
            </button>
        </a>
    {% endif %}
    </div>

{% endblock content %}

{% block table %}
    <h3 class="text-center">Inventario Reactivos</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>Tipo</th>
                    <th>Cantidad</th>
                    <th class="text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reactivo in reactivos %}
                    <tr>
                        <td>{{ reactivo.id }}</td>
                        <td>{{ reactivo.nombre }}</td>
                        <td>{{ reactivo.codigo }}</td>
                        <td>{{ reactivo.tipo }}</td>
                        <td>{{ reactivo.cantidad }} {{ reactivo.medida.value }}</td>
                        <td class="text-right">
                            {% if area == 'Lab' %}
                                <a class="btn btn-primary btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.lab_reactivo', reactivo_id=reactivo.id) }}">Ver</a>
                                {% if user.area == 'Lab' %}
                                    <a class="btn btn-success btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.lab_add_reactivo', reactivo_id=reactivo.id) }}">Entrada</a>
                                    <a class="btn btn-success btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.lab_entrada_reactivo', reactivo_id=reactivo.id) }}">Producir</a>
                                    <a class="btn btn-danger btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.lab_reduce_reactivo', reactivo_id=reactivo.id) }}">Salida</a>
                                {% endif %}
                                <a class="btn btn-info btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.lab_historial_reactivo_especifico', reactivo_id=reactivo.id) }}">Historial</a>
                            {% elif area == 'Bod' %}
                                <a class="btn btn-primary btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_reactivo', reactivo_id=reactivo.id) }}">Ver</a>
                                {% if user.area == 'Bod' %}
                                    <a class="btn btn-success btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_add_reactivo', reactivo_id=reactivo.id) }}">Entrada</a>
                                    <a class="btn btn-success btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_entrada_reactivo', reactivo_id=reactivo.id) }}">Producir</a>
                                    <a class="btn btn-danger btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_reduce_reactivo', reactivo_id=reactivo.id) }}">Salida</a>
                                {% endif %}
                                <a class="btn btn-info btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_historial_reactivo_especifico', reactivo_id=reactivo.id) }}">Historial</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock table %}

