{% extends "layout.html" %}
{% block content %}
    <div class="mt-3 mb-3">
        <a href="{{ url_for('main.bod_home_historial') }}">
            <button type="button" class="btn btn-outline-info">Historial</button>
        </a>
    </div>
{% endblock content %}
{% block table %}
    <h2 class="text-center">Inventario</h2>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busca por nombre. . .">
            </div>
        </div>
    </main>
            
    <div class="table-responsive">
        <table class="table table-bordered table-hover", id="myTable">
            <thead>
                <tr>
                    <th class ="home" onclick="sortTable(0)">Id</th>
                    <th class ="home" onclick="sortTable(1)">Nombre</th>
                    <th class ="home" onclick="sortTable(2)">Codigo</th>
                    <th class ="home" onclick="sortTable(3)">Tipo</th>
                    <th class ="home" onclick="sortTable(4)">Cantidad</th>
                    <th class="text-right">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for quimico in quimicos %}
                    {% if quimico.tipo == 'Materia' %}
                    {% if (quimico.materia.cantidad <= quimico.materia.bajo_stock) and quimico.materia.historial   %}
                        <tr class="table-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td>Materia ID: {{ quimico.materia.id }}</td>
                            <td>{{ quimico.materia.nombre }}</td>
                            <td>{{ quimico.materia.codigo }}</td>
                            <td>{{ quimico.materia.tipo }}</td>
                            <td>{{ quimico.materia.cantidad }} {{ quimico.materia.medida.value }}</td>
                            <td class="text-right">
                                <a class="btn btn-primary btn-sm mt-1 mb-1 mr-1" href="{{ url_for('materias.bod_materia', materia_id=quimico.materia.id) }}">Ver</a>
                                {% if user.area.value == 'Bod' %}
                                  <a class="btn btn-success btn-sm mt-1 mb-1 mr-1" href="{{ url_for('materias.bod_add_materia', materia_id=quimico.materia.id) }}">Entrada</a>
                                  <a class="btn btn-danger btn-sm mt-1 mb-1 mr-1" href="{{ url_for('materias.bod_reduce_materia', materia_id=quimico.materia.id) }}">Salida</a>
                                {% endif %}
                                <a class="btn btn-info btn-sm mt-1 mb-1 mr-1" href="{{ url_for('materias.bod_historial_materia_especifico', materia_id=quimico.materia.id) }}">Historial</a>                         
                            </td>
                        </tr>
                    {% else %}
                    {% if (quimico.reactivo.cantidad <= quimico.reactivo.bajo_stock) and quimico.reactivo.historial %}
                        <tr class="table-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                            <td>Reactivo ID: {{ quimico.reactivo.id }}</td>
                            <td>{{ quimico.reactivo.nombre }}</td>
                            <td>{{ quimico.reactivo.codigo }}</td>
                            <td>{{ quimico.reactivo.tipo }}</td>
                            <td>{{ quimico.reactivo.cantidad }} {{ quimico.reactivo.medida.value }}</td>
                            <td class="text-right">
                                <a class="btn btn-primary btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_reactivo', reactivo_id=quimico.reactivo.id) }}">Ver</a>
                                {% if user.area.value == 'Bod' %}
                                  <a class="btn btn-success btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_add_reactivo', reactivo_id=quimico.reactivo.id) }}">Entrada</a>
                                  <a class="btn btn-success btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_entrada_reactivo', reactivo_id=quimico.reactivo.id) }}">Produccion</a>
                                  <a class="btn btn-danger btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_reduce_reactivo', reactivo_id=quimico.reactivo.id) }}">Salida</a>
                                {% endif %}
                                <a class="btn btn-info btn-sm mt-1 mb-1 mr-1" href="{{ url_for('reactivos.bod_historial_reactivo_especifico', reactivo_id=quimico.reactivo.id) }}">Historial</a>                      
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>
    <script>
        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("myTable");
          switching = true;
          // Set the sorting direction to ascending:
          dir = "asc";
          /* Make a loop that will continue until
          no switching has been done: */
          while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  // If so, mark as a switch and break the loop:
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
    </script>
{% endblock table %}